// Colors
$primary-color: #ffffff; 
$secondary-color: #000000; 
$hover-bg-color: rgba(255, 255, 255, 0.1); 
$box-shadow-color: rgba(0, 0, 0, 0.1); 
$body-bg-color: #e7e7e7; 

// Fonts
$font-bold: 700;
$font-light: 300;
$font-size-h1: 2em;
$font-size-h3: 1.5em;
$button-font-size: 1rem;

// Media Query Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-lg: 1440px;